.header {
  background-color: var(--background-color-dark);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: clamp(1%, 10%, 15%);
  padding-right: clamp(1%, 15%, 20%);
}

.header a {
  text-decoration: none;
}

.logo-text {
  font-size: var(--logo-text-size);
  color: var(--main-text-white);
  margin: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 1.25rem;
}


.nav__link {
  color: var(--secondary-text-white);
  font-size: var(--secondary-text-size);
  text-decoration: none;
}