
@import './header.css';
@import './hero.css';
@import './pricing.css';
@import './cards.css';


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

:root {
  /* Colors */
  --background-color-dark: #1F2937;
  --background-color-gray: #E5E7EB;
  --background-color-blue: #3882F6;

  --main-text-white: #F9FAF8;
  --secondary-text-white: #E5E7EB;
  --main-text-black: #1F2937;

  --button-blue: #3882F6;

  /* Typography */
  --main-text-size: 16px;
  --hero-main-text-size: 48px;
  --hero-secondary-text-size: 18px;
  --logo-text-size: 24px;
  --info-header-text-size: 36px;
  --quote-text-size: 36px;

  --font-extra-bold: 800;
  --font-light: 300;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--main-text-black);
}

a {
  text-decoration: none;
  color: inherit;
}

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
}