.testimonial {
  background-color: var(--background-color-gray);
  padding: 100px 10%;
  font-size: var(--quote-text-size);
}

.testimonial blockquote {
  font-size: 1em;
  font-style: italic;
  font-weight: var(--font-light);
}

.testimonial blockquote cite {
  display: block;
  text-align: end;
  margin-top: 50px;
  font-size: 0.7em;
  font-weight: var(--font-extra-bold );
  font-style: normal;
}

@media screen and (max-width: 800px) {
  .testimonial {
    font-size: 24px;
    padding: 50px 10%;
  }
}

@media screen and (max-width: 500px) {
  .testimonial {
    font-size: 20px;
    padding: 35px 5%;
  }
}